@media screen and (min-width: 1700px){
    body{
        background: #1C1B1A;
        color: #F7EBE8;
        margin: 0 10rem 0 10rem;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        height: 100%;
    }

    header{
        margin-bottom: 2rem;
        font-size: 4rem;
        letter-spacing: -0.188rem;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        background: #242121;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    header:hover{
        font-variation-settings: "wght" 582;
        letter-spacing: 0.063rem;
    }

    .Title{
        text-decoration: none;
        color: #f7ebe8;
    }


    #map{
        width: 100%;
        height: auto;
        left: auto;
        right: auto;
    }


    .background-text{
        margin: 2rem auto 2rem auto;
        font-size: 1.6rem;
        padding: 0.3rem;
        text-space: 2rem;
        width: 70%;
    }


    .pic{
        width: 100%;
        border: #242121 0.5rem solid;
        border-radius: 1rem;
    }

    .pic2-us{
        border: none;
    }

    footer{
        margin: auto;
        width: 50%;
        background-color: #242121;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    footer a{
         text-decoration: none;
         padding-right: 2em;
         padding-left: 2em;
         color: #f7ebe8;
         transition: 700ms ease;
         font-variation-settings: "wght" 311;
         border-right: #f7ebe8 solid 2px;
     }

    .footer-l{
        border-right: none;
    }


    footer a:hover{
        font-variation-settings: "wght" 582;
        letter-spacing: 0.063rem;
    }

}


@media screen and (max-width: 1699px) {
    body{
        background: #1C1B1A;
        color: #F7EBE8;
        margin: 0 3rem 0 3rem;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        height: 100%;
    }

    .Title{
        text-decoration: none;
        color: #f7ebe8;
    }

    header{
        margin-bottom: 2rem;
        font-size: 3rem;
        letter-spacing: -0.188rem;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        background: #242121;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    header:hover{
        font-variation-settings: "wght" 582;
        letter-spacing: 0.063rem;
    }

    .background-text{
        margin: 2rem auto 2rem auto;
        font-size: 1.6rem;
        padding: 0.3rem;
        text-space: 2rem;
        width: 70%;
    }


    .pic{
        width: 100%;
        border: #242121 0.5rem solid;
        border-radius: 1rem;
    }

    .pic2-us{
        border: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        margin: auto;
        background-color: #242121;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    footer a{
        text-decoration: none;
        padding: 0.5em;
        color: #f7ebe8;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
    }



    footer a:hover{
        font-variation-settings: "wght" 582;
        letter-spacing: 0.063rem;
    }
}

@media screen and (max-width: 900px) {
    header{
        font-size: 3rem;
        letter-spacing: -0.1px;
    }
}

@media screen and (max-width: 799px) {
    header{
        font-size: 3rem;
        letter-spacing: -0.1px;
        transition: 300ms ease;
    }

}

@media screen and (max-width: 550px) {
    header{
        font-size: 150%;
    }

}

#map{
    width: 100%;
    height: auto;
    left: auto;
    right: auto;
}

#menu{
    justify-content: center;
}

.button{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background: #9191e9;
}

.quelle{
    text-decoration: none;
    color: #f7ebe8;
    transition: font-size 300ms;
}

.quelle:hover{
    font-size: 1.5rem;
}