body{
    background: #444140;
    color: #F7EBE8;
    margin: clamp(1rem, 4rem, 5rem);
}

.picture{
    width: clamp(50%, 50%, 100%);
    display: block;
    right: 0;
}

.button{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

#menu{
    justify-content: center;
}

#map{
    width: 100%;
    height: auto;
    left: auto;
    right: auto;
}

.Title{
    font-size: 3rem;
    text-decoration: none;
    color: #f7ebe8;
    text-underline: none;
}

header{
    align-items: center;
}

.background-text{
    font-size: 1.8em;
}







